/* Regles CSS */
@font-face {
    font-family: "DM_Sans";
    src: url(../fonts/DM_Sans/static/DMSans-Regular.ttf);
}

*{
    box-sizing: border-box;
}
body{
    font-family: "DM_Sans", sans-serif;
    background-color: rgb(255, 237, 215);
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
h1{
    font-size: 3rem;
    font-weight: 900;
}
h2{
    font-weight: 900;
}

/* HEADER */
header{
    background-color: white;
}
nav{
    background-color: white;
    margin-right: 10%;
    margin-left: 10%;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}
nav img{
    width: 10%;
}
.btn-nav{
    text-decoration: none;
    border: 1px solid green;
    border-radius: 10px;
    color: white;
    background:linear-gradient(to left,rgb(138, 199, 15),green);
    display: inline-block;
    padding: 10px 20px;
}
.btn-nav:hover{
    background:linear-gradient(to right,rgb(138, 199, 15),green);
    transition: all 0.3s ease;
}
nav ul{
    display: flex;
    gap: 10%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
}
/* MAIN - SECTION 1 AGIR */
.agir-container{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 20px;

}
.pouce img{
    width: 100%;
    box-shadow: 5px 5px rgb(10, 77, 10);
    border-top-left-radius: 10px;
    display: flex;
}
.agir-container a{
    text-decoration: none;
    border: 1px solid rgb(10, 77, 10);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(10, 77, 10);
    color: white;
    margin-top: 30px;
    display: inline-block;
}
.agir-container a:hover{
    background: linear-gradient(orange, green);
    transition: all 0.3s ease;
}
/* MAIN - SECTION 2 NOS PROJETS */
.projets{
    padding-top: 3%;
    padding-bottom: 3%;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.card {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}
.card:hover{
    border: 1px solid black;
}
.card h3{
    border-bottom: 2px solid rgb(236, 229, 229);
    padding-bottom: 10px;
}

/* MAIN - SECTION 3 NOTRE MISSION */
.mission{
    background-image: url(../img/farmer-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
}
.mission-container{
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 2%;
    gap: 10%;    
}
.mission-content{
    width: 70%;
}
.mission-img{
    width: 40%;
    padding-right: 5%;
}
.mission-content ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.mission-content li{
    list-style: circle;
    color: rgb(10, 77, 10);
    width: 50%;
}

.mission-img img{
   width: 100%;
}
.mission-content a{
    text-decoration: none;
    border: 1px solid rgb(10, 77, 10);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(10, 77, 10);
    color: white;
    margin-top: 30px;
    display: inline-block;
}
.mission-content a:hover{
    background: linear-gradient(orange, green);
    transition: all 0.3s ease;
}
/* MAIN - SECTION 4  NEWS*/
.news-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.news h2{
    margin-top: 5%;
}
.news-climat{
    display: flex;
    width: 100%;
    gap: 20px;
}
.news-climat img{
    width: 50%;
    height: 40vh;
    border-radius: 10px;
}
.news-climat-article{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.btn-news{
    text-decoration: none;
    border: 1px solid rgb(236, 229, 229);
    padding: 10px 10px;
    border-radius: 15px;
    color: black;
}
.btn-article{
    color: orange;
}
.btn-article:hover{
    color: green;
    transition: all 0.3s ease;
}
.news-content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}
.news-content img{
    width: 100%;
    height: 30vh;
    border-radius: 10px;
    margin-bottom: 30px;
}
.news-content .article{
    width: 50%;
    padding: 10px 10px;
    background-color: white;
    border-radius: 10px;
}
.btn-articles{
    color: white;
    background-color: rgb(10, 77, 10);
    padding: 10px 10px;
    border-radius: 10px;
    width: 15%;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}
.btn-articles:hover{
    background: linear-gradient(orange, green);
    transition: all 0.3s ease;
}
/* MAIN - SECTION 5 GALERIE */

.galerie-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.galerie-content > div:nth-child(1){
    grid-row: 1 / span 2;  
}
.galerie-content > div:nth-child(5){
    grid-column: 1 / span 2;
}
.galerie-content > div:nth-child(3){
    grid-row: 1 / span 2;
    grid-column: 3;
}
.galerie-content img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.img-5, .img-6{
   height: 55%;
}

/* MAIN - SECTION 6 VIDEO */
.videos-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-container{
    margin-top: 2%;
}
.video-container h2{
    text-align: right;
}
.videos{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.videos iframe{
    border-radius: 5px;
    height: 30vh;
    max-width: 100%; 
}
.btn-video{
    background-color: rgb(231, 106, 17);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 20px;
    margin-top: 20px;
}
.btn-video a{
    text-decoration: none;
    color: white;
}
.btn-video:hover{
    background-color: green;
    transition: all 0.3s ease;
}
/* MAIN - SECTION 7 DON */
.don-container{
    background-color: green;
}
.don-content{
    color: white;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-don{
    background-color: white;
    color: rgb(10, 77, 10);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.btn-don:hover{
    background: linear-gradient(white,orange);
    transition: all 0.3s ease;
}
/* MAIN -SECTION 8 LOGOS */
.logos{
    display: flex;
    gap: 50%;
    align-items: flex-start;
    width: 20%;
    margin-bottom: 20px;
}
.logos img{
    width: 100%;
    height: 10vh;
}
/* FOOTER */
footer{
    background-color: rgb(9, 63, 9);
}
.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
}
.content{
    width: 20%;
    margin-top: 5%;
    padding: 10px;
}
.content ul{
    padding: 0;
}
.content li{
    list-style: none;
    padding-bottom: 10px;
}
.content a{
    color: white;
}
.content a:hover{
   text-decoration: underline dotted;
   transition: all 0.3s ease;
}
.plan iframe{
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
}

@media screen {
    
}

/* PAGE ABOUT*/
/* SECTION 1 ABOUT */
.about{
    padding-bottom: 5px;
    padding-top: 5px;
    background: linear-gradient(to right,rgb(98, 152, 3),rgb(16, 80, 16))
}
.about h1{
    color: white;
    text-align: center;
}
/* SECTION 2 ENGAGMENT */
.engagement-container{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 5%;
}
.engagement-img img{
    border-top-left-radius: 10px;
    box-shadow: 10px 10px rgb(8, 72, 8);
    width: 100%;
}
.engagement-content h4{
    margin: 0;
}
.engagement-content h2{
    margin-top: 0;
    margin-bottom: 5px;
}
.engagement-content a{
    color: white;
    background-color: rgb(10, 77, 10);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    width: 30%;
}
.engagement-content a:hover{
    background: linear-gradient(orange, green);
    transition: all 0.3s ease;
}
/* SECTION 3 HUMANS */
.humans-content{
    text-align: center;
    margin-top: 5%;
    padding: 2% 20%;
}
.humans-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.humans-card p{
    color: orange;
}
.humans-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 40px 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(236, 229, 229);
}
.humans-card img{
    width: 100%;
    height: 15vh;
    border-radius: 50%;
}
/* SECTION 4 IMPACT */

.impact-container{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.impact-content{
    text-align: center;
    padding: 2% 20%;
}
.impact-img{
    display: flex;
    gap: 20px;
}
.impact-img1{
    width: 50%;
}
.impact-img2{
    width: 50%;
}
.impact-img img{
    width: 100%;
    max-height: 30vh;
    border-radius: 20px;
}
.impact-cards{
    display: flex;
    gap: 20px;
}
.impact-card{
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px rgb(236, 229, 229);
    width: 40%;
    text-align: center;
    padding: 60px;
}
.impact-card span{
    font-weight: 900;
    font-size: 2rem;
}
